name: Tests

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  rust_tests:
    name: Rust Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt
          override: true
          profile: minimal

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "30.2"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-rust-tests-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            cargo-${{ runner.os }}-rust-tests-
            cargo-${{ runner.os }}-

      - name: Check formatting
        run: cargo fmt --check

      - name: Check clippy
        run: ./ci/check-lint.sh

      - name: Run tests
        run: cargo test --features _test-utils

      - name: Run cashu tests
        run: cargo test --features _cashu-tests
